<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname">Investigative Abilities</h1>
        </div>
    </header>
    <div class="investigative-abilities" data-group="primary" data-tab="investigative-abilities">
        <ol class="investigative-abilities-list line-items-list">
            <li class="investigative-ability flexrow line-item-header">
                <div class="investigative-ability-source">Source</div>
                <div class="investigative-ability-name">Name</div>
                <div class="line-item-controls">
                    <a class="investigative-ability-control investigative-ability-add" title="Add Investigative Ability" data-type="investigative-ability"><i class="fas fa-plus"></i> Add</a>
                </div>
            </li>
            {{#each setting.entries as |investigativeAbility index|}}
            <li class="investigative-ability flexrow line-item" data-investigative-ability-id="{{investigativeAbility._id}}">
                <h4 class="investigative-ability-source line-item-datum">{{investigativeAbility.source.name}}</h4>
                <h4 class="investigative-ability-name line-item-datum">{{investigativeAbility.item.name}}</h4>
                <div class="line-item-controls">
                    <a class="investigative-ability-delete" title="Delete Investigative Ability"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</form>