<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname">Credentials</h1>
        </div>
    </header>
    <div class="credentials" data-group="primary" data-tab="credentials">
        <ol class="credentials-list line-items-list">
            <li class="credential flexrow line-item-header">
                <div class="credential-source">Source</div>
                <div class="credential-name">Name</div>
                <div class="line-item-controls">
                    <a class="credential-control credential-add" title="Add Credential" data-type="credential"><i class="fas fa-plus"></i> Add</a>
                </div>
            </li>
            {{#each setting.entries as |credential index|}}
            <li class="credential flexrow line-item" data-credential-id="{{credential._id}}">
                <h4 class="credential-source line-item-datum">{{credential.source.name}}</h4>
                <h4 class="credential-name line-item-datum">{{credential.item.name}}</h4>
                <div class="line-item-controls">
                    <a class="credential-delete" title="Delete Credential"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</form>