<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-3col">
              <div class="resource">
                <label class="resource-label">Type</label>
                  <select name="data.credType" style="width:calc(100% - 2px);">
                      {{#select data.credType}}
                      <option value="text">Text</option>
                      <option value="number">Number</option>
                      <option value="trueFalse">True/False</option>
                      {{/select}}
                  </select>
              </div>
              <div class="resource">
                 <label class="resource-label">Sort Order</label>
                   <input type="number" name="data.sortOrder" value="{{data.sortOrder}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Value</label>
                  <input type="text" name="data.value" value="{{data.value}}" data-dtype="String"/>
              </div>
            </div>
        </div>
    </header>
</form>
